body {
  font: 400 16px/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  background: #161616;
  color: #fff;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}
a:hover {
  color: #efc42b;
}

header,
footer,
section,
form,
input,
select,
button,
fieldset,
legend,
label,
input,
div,
ul,
ol,
li {
  box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

h1,
h1,
h1,
h1,
h1,
h1,
p,
span,
small,
a {
  box-sizing: border-box;
  color: inherit;
  line-height: 1.5;
}

.title-main {
  font: 900 1.8em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 1.1rem;
}

.title {
  font: 500 1.3em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 1.1rem;
}

.logo {
  max-width: 120px;
  padding: 0 15px;
}

.img-wrp img,
.img-wrp svg,
.icon img,
.icon svg {
  width: 100%;
}

.icon {
  min-width: 15px;
  min-height: 15px;
}

.link-text {
  font: 900 1em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
}

.btn {
  padding: 1rem 1.5rem;
  text-align: center;
  justify-content: center;
  background: #efc42b;
  color: inherit;
  font: 900 0.9em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  transition: all 0.3s linear;
}
.btn:focus {
  box-shadow: 0px 0px 10px 0px #efc42b;
}
.btn:hover {
  background: #e4b200;
}
.btn:disabled {
  background: #5f5f5f;
}

.header,
.flex,
section,
.wrapper,
.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header,
section,
.wrapper {
  justify-content: center;
}

.one-of-three,
.two-of-three,
.one-of-four,
.two-of-four,
.three-of-four {
  padding: 0 15px;
  min-width: 14rem;
}

.one-of-three {
  flex: 1 1 33.33%;
}

.two-of-three {
  flex: 1 1 66.66%;
}

.full {
  padding: 0 15px;
}

.full,
.full-width {
  width: 100%;
}

.f-between {
  justify-content: space-between;
}

.f-center {
  justify-content: center;
}

.v-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

form {
  width: 100%;
}

button,
input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.form-main fieldset {
  margin-bottom: 1rem;
}
.form-main fieldset,
.form-main input,
.form-main label {
  display: block;
  width: 100%;
}
.form-main .label {
  display: block;
  width: 100%;
  margin: 0 0 8px 0;
  opacity: 0.8;
  font: 400 0.8em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  margin-bottom: 0.5rem;
}
.form-main .label small {
  font-size: 0.7em;
  opacity: 0.8;
  vertical-align: baseline;
}
.form-main input,
.form-main .picture-select {
  padding: 10px;
  font: 400 1em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  background: #161616;
  border: 1px solid #545454;
  border-radius: 2px;
  color: inherit;
  transition: all 0.3s linear;
}
.form-main input:hover,
.form-main .picture-select:hover {
  background: #2d2d2d;
}
.form-main input:focus,
.form-main .picture-select:focus {
  background: #161616;
  border-color: #efc42b;
}
.form-main button {
  width: 100%;
}

form .hidden-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
form .hidden-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  opacity: 0;
  z-index: -1;
}
form .hidden-input input:checked + .checkmark {
  background: #efc42b;
}
form .hidden-input input:focus + .checkmark {
  box-shadow: 0px 0px 10px 0px #efc42b;
}
form .hidden-input .checkmark {
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px;
  background: #eee;
  border-radius: 2px;
  margin-right: 1rem;
  transition: all 0.3s linear;
}
form .hidden-input .label {
  margin: 0;
  width: auto;
  display: inline-flex;
}
form .picture-select .label {
  font: 400 1em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
}
form .picture-select:hover {
  background: #1c1b1b;
}

.list > li {
  display: flex;
  flex-wrap: wrap;
}
.list > li .box {
  height: 100%;
}

.list-two-items > li,
.list-three-items > li,
.list-four-items > li,
.list-five-items > li {
  min-width: 14rem;
  padding: 15px;
}
.list-two-items.nopadding > li,
.list-three-items.nopadding > li,
.list-four-items.nopadding > li,
.list-five-items.nopadding > li {
  padding: 0;
}

.list-two-items > li {
  flex: 1 1 100%;
}

.list-three-items > li {
  flex: 1 33.33%;
}

.list-four-items > li {
  flex: 1 1 25%;
}

.list-five-items > li {
  flex: 1 1 20%;
}

.login-block {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-wrp {
  flex: 1 1 100%;
  padding: 30px;
  background: #1c1b1b;
  border-radius: 15px;
  min-width: 12rem;
  max-width: 19rem;
  color: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.header {
  padding: 15px 0;
}
.header .action-box {
  padding: 0 15px;
}
.header .action-box a,
.header .action-box p,
.header .action-box span {
  font: 700 0.9em/1.5 "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0 1rem 0 0;
}
.header .action-box a:last-child,
.header .action-box p:last-child,
.header .action-box span:last-child {
  margin: 0;
}

.post-list .box {
  border-radius: 10px;
  background: #1c1b1b;
}
.post-list .title-box {
  padding: 1.5rem;
}
.post-list p {
  margin-bottom: 1.87rem;
}

.profile > .wrapper {
  max-width: 1170px;
}

.profile-form .img-wrp {
  margin-bottom: 1rem;
}