$main-font: 'Montserrat', Arial, Helvetica, sans-serif
$color-one: #efc42b
$color-one-hover: #e4b200
$background-main: #161616
$background-elements: #1c1b1b
=animate
  transition: all .3s linear

body
  font: 400 16px/1.5 $main-font
  background: $background-main
  color: #fff

header,
footer,
section,
form,
input,
select,
button,
fieldset,
legend,
label,
div,
ul,
ol,
li
  box-sizing: border-box

// Typography
@import typography
// button
@import button
// Layout
@import layout
// Form
@import form


// LETS GO
.login-block
  align-items: center
  justify-content: center
  min-height: 100vh

.login-wrp
  flex: 1 1 100%
  padding: 30px
  background: $background-elements
  border-radius: 15px
  max-width: 15rem
  color: #fff
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25)
